{% extends 'base.html' %}

{% block title %}
    {{ task.title }}
{% endblock %}

{% block content %}
    <h1>About task</h1>
    <p>Task title: {{ task.title }}</p>
    <p>Task description: {{ task.description }}</p>
    <p>Created: {{ task.created }}</p>
    {% if task.updated != task.created %}
        <p>Updated: {{ task.updated }}</p>
    {% endif %}

    <a href="{{ url('task_update', task_id=task.id) }}" class="btn btn-warning text-center btn-block"><h2>Update</h2></a>
    <a href="{{ url('task_delete', task_id=task.id) }}" class="btn btn-danger text-center btn-block"><h2>Delete</h2></a>
{% endblock %}